package templates

import (
	"github.com/neoevax/eveCal/internal/templates/layout"
	"github.com/neoevax/eveCal/internal/templates/pages"
)

templ Index(name string) {
	@layout.Base() {
		<div>
			Welcome Signed in user
		</div>
		<div>
			{ name }
		</div>
	}
}

templ GuestIndex() {
	@layout.Base() {
		<div>
			Welcome guest
		</div>
		<div>
			@esiLogin.Login()
		</div>
	}
}
